<!DOCTYPE html>

<html ng-app="MyApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/js/angular.js"></script>
    <script src="~/Angular/Module.js"></script>
    <script src="~/Angular/Service.js"></script>
    <script src="~/Angular/LoginController.js"></script>
    
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
